.no_encontrado{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no_encontrado a{
    text-decoration: none;
    color: var(--negro);
    font-size: 3rem;
    transition: all 0.2s ease;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: var(--primary);
}
.no_encontrado a:hover{
    transform: translateX(-1rem) translateY(-0.3rem);
    background-color: #ffa200;
}